<h2>Equipment info:</h2>
<ul>
  <li><%= @equipment.title %></li>
  <li><%= @equipment.description %></li>
  <li>User: <%= @equipment.user.first_name.capitalize + " " + @equipment.user.last_name.capitalize %></li>
</ul>


