<h2>Equipment info:</h2>
<ul>
  <li><%= @equipment.title %></li>
  <li><%= @equipment.description %></li>
  <li>User: <%= @equipment.user.first_name.capitalize + " " + @equipment.user.last_name.capitalize %></li>
</ul>

<% if @equipment.user == current_user %>
  <%= link_to "Edit this listing", edit_account_equipment_path(@equipment), class: 'btn btn-warning'  %>
<% end %>


