<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="devise">
        <h1>Enter the new details of your new listing below:</h1>
        <%= simple_form_for(@equipment, url: account_equipment_path) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%# f.input :photo %>
        <%# f.input :photo_cache, as: :hidden %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
