<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(49, 112, 143, 0.3) 50%), url(<%= image_path 'banner.jpg' %>);">
  <div class="banner-content">
  <h2>Rent music equipment</h2>
    <div class="search-form">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="instrument" placeholder="Drum Kit">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="city" placeholder="London">
        </div>
        <div class="form-group">
          <input type="date" class="form-control" id="start_date" placeholder="Start Date">
        </div>
        <div class="form-group">
          <input type="time" class="form-control" id="end_date" placeholder="End Date">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>


