<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="devise">
          <div class="header text-center">
            <h2>New Rental</h2>
            <hr>
          </div>
          <%= simple_form_for [@equipment, @rental], remote: false, data: { price: @equipment.price } do |f| %>
            <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %>
            <p id="total"></p>
            <%= f.submit "Rent now!", class: "btn btn-danger text" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





