<div class="wrapper">

<h2 class="text-center">Terms and Conditions</h2>

<hr>

<ul>
<p class="text-center">Last Updated: November 18, 2016</p>
<p></p>

<p>Please read the following terms of service carefully (the “Terms”). By accessing the Site, Applications or Services of Sparkplug, you agree to be bound by these Terms, as amended from time to time. If you do not agree to these Terms, you are prohibited from using or accessing the Site, Application, or Services.</p>

<p>Sparkplug Marketplace, Inc. (hereafter referred to as “Sparkplug,” “we,” “us,” or “our”) provides an online platform that connects owners of equipment, musical instruments, physical space (such as rehearsal, studio, or storage space), and other artistic tools (the “Equipment”) with people seeking to rent such Equipment (collectively, the “Services”), which Services are accessible at www.sparkplug.it and any other websites through which Sparkplug makes the Services available (collectively, the “Site”) and via applications for mobile devices, if any (the “Application”). The Site, Application, and Services are sometimes collectively referred to herein as the “Platform.” By using the Site and/or Application, you agree to comply with and be legally bound by the terms and conditions of these Terms of Service (“Terms”), whether or not you become a registered user of the Services. These Terms govern your access to and use of the Site, Application, Services, and all Collective Content (defined below), and constitute a binding legal agreement between you and Sparkplug. Please read carefully these Terms and our Privacy Policy, which is incorporated by reference into these Terms. If you do not agree to these Terms, you have no right to obtain information from or otherwise continue to use the Platform. Failure to use the Platform in accordance with these Terms may subject you to civil and criminal penalties.</p>

<p>You understand and agree that Sparkplug is not a party to any agreements entered into between Owners and Renters (defined below). Sparkplug is not a broker, agent, or insurer and has no control over the conduct of Owners, Renters, and other users of the Platform or any Equipment, and disclaims all liability in this regard.</p>

<p>Key Definitions</p>

<p>- “Renter” means a Member who requests from an Owner a reservation of Equipment via the Platform, or a Member who uses Equipment and is not the Owner of such Equipment.</p>

<p>- “Collective Content” means Member Content and Sparkplug Content.</p>

<p>- “Content” means text, graphics, images, music, software (excluding the Site and Application), audio, video, information, or other materials.</p>

<p>- “Listing” means Equipment that is listed by an Owner as available for rental via the Platform.</p>

<p>- “Member” means a person who completes Sparkplug’s account registration process, including but not limited to Owners and Renters, as described under Section 4 (“Your Account”) below.</p>

<p>- “Member Content” means all Content that a Member posts, uploads, publishes, submits, or transmits to be made available through the Platform.</p>

<p>- “Owner” means a Member who creates a Listing via the Platform.</p>

<p>- “Sparkplug Content” means all Content that Sparkplug makes available through the Platform, including any Content licensed from a third party, but excluding Member Content.</p>

<p>- “Tax” or “Taxes” mean any sales taxes, value added taxes (VAT), goods and services taxes (GST), transient occupancy taxes, tourist or other visitor taxes, accommodation or lodging taxes, fees that equipment or accommodation providers may be required by law to collect and remit to governmental agencies, and other similar municipal, state, federal, and national indirect or other withholding taxes, and personal or corporate income taxes</p>

<p>1. Modification</p>

<p>Sparkplug reserves the right, in our sole discretion, to modify the Platform or to modify these Terms, including the Service Fees (defined below), at any time and without prior notice. If we modify these Terms, we will post the modification on the Site or via the Application to provide you with notice of the modification. We will also update the “Last Updated” date at the top of these Terms. By continuing to access or use the Platform after we have posted a modification on the Site or via the Application or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Platform.</p>

<p>2. Eligibility</p>

<p>The Platform is intended for use solely by persons who are 18 years of age or older. Any access to or use of the Platform by anyone under 18 is expressly prohibited. By accessing or using the Platform you represent and warrant that you are 18 years of age or older.</p>

<p>3. Services

As stated above, Sparkplug makes available an online platform or marketplace with related technology for Owners and Renters to meet online and arrange for the reservation of Equipment directly with each other via the Platform. You may view Listings as an unregistered visitor to the Site or Application; however, you must be a registered Member (defined below) to book or create a Listing.</p>

<p>Sparkplug is not an owner of Equipment and does not own, sell, resell, furnish, provide, rent, re-rent, manage and/or control Equipment, including but not limited to real property, instruments, and transportation, delivery, or travel services. Sparkplug’s responsibilities are limited to: (i) facilitating the availability of the Site, Application, and Services; and (ii) serving as the limited agent of each Owner for the purposes of accepting payments from Renters on behalf of the Owner.</p>

<p>SPARKPLUG CANNOT AND DOES NOT CONTROL THE CONTENT CONTAINED IN ANY LISTINGS AND THE CONDITION, LEGALITY, OR SUITABILITY OF ANY EQUIPMENT. SPARKPLUG IS NOT RESPONSIBLE FOR AND DISCLAIMS ANY AND ALL LIABILITY RELATED TO ANY AND ALL LISTINGS AND EQUIPMENT. ALL RESERVATIONS ARE MADE AT THE OWNER’S AND RENTER’S OWN RISK.</p>

<p>4. Your Account</p>

<p>In order to access certain features of the Platform and to book or create a Listing, you must first become a Member by registering an account (“Account”), either by providing your email address and setting a password or through certain third party social networking sites (“SNS”), including, without limitation, Facebook, via the Site or application. As part of the functionality of the Platform, you may link your Account with your SNS accounts (each such SNS account, a “Third Party Account”), by either: (i) providing your Third Party Account login information to Sparkplug through the Platform; or (ii) allowing Sparkplug to access your Third Party Account as permitted under the applicable terms and conditions that govern your use of each Third Party Account. You represent that you are entitled to disclose your Third Party Account login information to Sparkplug and/or grant Sparkplug access to your Third Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating Sparkplug to pay any fees or making Sparkplug subject to any usage limitations imposed by such third party service providers. By granting Sparkplug access to any Third Party Accounts, you understand that Sparkplug will access, make available and store (if applicable) any text, graphics, images, information and other materials you have provided to and stored in your Third Party Account, subject to your privacy settings in such Third Party Account, if any (“SNS Content”) so that it is available on and through the Platform via your Account and Account profile page. You have the ability to disable the connection between your Account and your Third Party Accounts, at any time, by support@sparkplug.it. Please note that your relationship with the SNS associated with your Third Party Accounts is governed solely by your agreement(s) with such SNS. Sparkplug makes no effort to review any SNS Content for any purposes, including, but not limited to, for accuracy, legality, or non-infringement, and Sparkplug is not responsible for any SNS Content.</p>

<p>We will create your Account and your Account profile page for your use of the Platform based upon the personal information you provide to us or that we obtain via an SNS as described above. You may not have more than one (1) active Account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete. Sparkplug reserves the right to suspend or terminate your Account and your access to the Platform if you create more than one (1) Sparkplug Account or if any information provided during the registration process or thereafter process to be inaccurate, not current, or incomplete. You are responsible for safeguarding your password. You agree that you will not disclose your password to any third party and that you will take sole responsibility for any activities or actions under your Account, whether or not you have authorized such activities or actions. You will immediately notify us of any unauthorized use of your Account.</p>

<p>5. Listings</p>

<p>As a Member, you may create Listings. To create a Listing, you will be asked a variety of questions about the Equipment to be listed, including but not limited to a description, the location, the condition, and availability of the Equipment, additional services or features that can be added to a reservation request at the Renter’s option (i.e., “add-ons”), and pricing and related rules and financial terms. Listings will be made publicly available via the Platform. Other Members will be able to book your Listing via the Platform based upon the information provided in the Listing. You understand and agree that once a Renter requests a reservation of your Listing, you may not request the Renter to pay a higher price than in the reservation request.</p>

<p>You acknowledge and agree that you are responsible for any and all Listings you post. Accordingly, you represent and warrant that any Listing you post and the reservation of, or a Renter’s use of, Equipment in a Listing you post: (i) will not breach any agreements you have entered into with any third parties, such as ownership, lease or rental agreements; and (ii) will (a) be in compliance with all applicable laws, Tax requirements, and rules and regulations that may apply to any Equipment included in a Listing you post and (b) not conflict with the rights of third parties. Please note that Sparkplug assumes no responsibility for an Owner’s compliance with any agreements with or duties to third parties, applicable laws, rules and regulations. Sparkplug reserves the right, at any time and without prior notice, to remove or disable access to any Listing for any reason, including Listings that Sparkplug, in its sole discretion, considers to be objectionable for any reason, in violation of these Terms or otherwise harmful to the Platform.</p>

<p>If you are an Owner, you understand and agree that Sparkplug does not act as an insurer or as your contracting agent. If a Renter requests a reservation of your Equipment and uses your Equipment, any agreement you enter into with such Renter is between you and the Renter and Sparkplug is not a party thereto. Notwithstanding the foregoing, Sparkplug services as the limited authorized payment collection agent of the Owner for the purposes of accepting, on behalf of the Owner, payments from Renters of such amounts stipulated by the Owner (including delivery or other fees and/or Taxes).</p>

</ul>
</p>
<hr>
</div>
