/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.form-control {
  padding: 0 0 0 10px;
}

#description {
  list-style: none;
  text-align: left;
  margin: 35px 17px 13px -11px;
}

#description > li {
  text-align: left;
  font-weight: bolder;
}

.info {
  text-align: center;
}

.wrapper-grey {
  background: #F4F4F4;
  padding: 14px 0 64px;
}

.wrapper-grey2 {
  background: #F4F4F4;
  padding: 14px 27px 64px 27px;
}

.fa-star {
  font-size: 20px;
  color: #EADF4D;
}

#edit-info {
  padding: 36px;
  box-shadow: 2px 2px 2px #CCCFCF;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

// #equipment-image {
//   box-shadow: 1px 2px 2px grey;
// }
