.card {
  height: 283px;
  width: 357px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin: 15px auto;
  border-radius: 3px;
  box-shadow: 1px 2px 2px #CCCFCF;
}

.all-cards {
 overflow: scroll;
 height: 500px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
// .card-description {
//   position: absolute;
//   bottom: 10px;
//   border-radius: 3px;
//   box-shadow: 1px 2px 2px #CCCFCF;
//   background-color: white;
//   color: black;

// }

.card-description {
  position: absolute;
  left: 0px;
  center: inherit;
  bottom: 0;
  bottom: 16px;
  left: 10px;
  bottom: 10;
  bottom: 0px;
  left: 10px;
  background-color: white;
  text-shadow: none;
  width: 358px;
  padding-left: 27px;
  margin-left: -10px;
  box-shadow: inherit;
}

.card-description-small {
  position: absolute;
  left: 0px;
  center: inherit;
  bottom: 0;
  bottom: 16px;
  left: 10px;
  bottom: 10;
  bottom: 0px;
  left: 10px;
  background-color: white;
  text-shadow: none;
  width: 358px;
  padding-top: 11px;
  margin-left: -10px;
  box-shadow: inherit;
}


.card-description-small p {
  color: black;
}


.card-description h2 {
  font-size: 24px;
  color: black;
}
.card-description p {
  font-size: 13px;
  color: black;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header h4 {
  font-size: 20px;
  font-weight: bold;
}

#eq-info {
  padding-left: 0;
  margin-left: -49px;
  margin-right: 19px;
  width: 397px;
  box-shadow: 1px 2px 2px #CCCFCF;
}

.card-block {
  padding: 1.25rem;
}

.text-xs-center {
  text-align: center!important;
}

.card-info {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  shadow: 1px 1px grey;

}

#rent-header {
  background-color: #E6ACA7;
}

#popular-card {
  padding-top: 20px;
}

#map {
  margin-top: 35px;
}

#map-small {
  margin-top: 84px;
}

#popular {
  margin-top: -54px;
}

#equipment-title-small {
  font-size: 17px;
}

#small-title {
  font-size: 15px;
}

#fix {
  padding-left: 17px;
}
